.row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
  @include breakpoint(lg) {
    max-width: 900px;
  }
  @include breakpoint(md) {
    max-width: 700px;
  }
  @include breakpoint(sm) {
    align-items: center;
  }
}

.cart {
  display: flex;
  align-items: center;
  @include breakpoint(sm) {
    flex-direction: column;
    margin-top: 30px;
  }
  @include breakpoint(xs) {
    text-align: center;
  }
  &__img {
    img {
      width: 150px;
      border-radius: 8px;
      object-fit: cover;
      margin-right: 10px;
      @include breakpoint(sm) {
        margin-right: 0px;
      }
    }
  }
  &__title {
    > h3 {
      font-size: 1rem;
    }
  }
  &__quantity {
    display: flex;
    margin-inline: 10px;
    @include breakpoint(sm) {
      margin-inline: 0px;
      margin-block: 10px;
    }
    > button {
      cursor: pointer;
      width: 20px;
      background-color: orange;
      font-weight: bold;
    }
    &__count {
      margin-inline: 5px;
    }
  }
  &__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include breakpoint(sm) {
      flex-direction: column;
      padding: 20px;
    }
    > button {
      background-color: orange;
      font-weight: bold;
      padding: 0.5px 30px;
      cursor: pointer;
      @include breakpoint(sm) {
        margin-top: 10px;
        padding: 10px 30px;
      }
    }
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  > h3 {
    margin-top: 10px;
  }
}

.remove {
  background-color: orange;
  font-weight: bold;
  padding: 0.5px 30px;
  cursor: pointer;
}

.clear {
  background-color: orange;
  font-weight: bold;
  padding: 0.5px 30px;
  cursor: pointer;
  margin-top: 10px;
}

.popup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.checkout-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: orange;
  border-radius: 10px;
  width: 400px;
  height: 255px;
}
.popup-btn {
  margin-top: 10px;
  padding: 5px 30px;
  cursor: pointer;
}
