.row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

.cart {
  display: flex;
  align-items: center;
  &__img {
    img {
      width: 150px;
      border-radius: 8px;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  &__quantity {
    display: flex;
    margin-inline: 10px;
    > button {
      cursor: pointer;
      width: 20px;
      background-color: orange;
      font-weight: bold;
    }
    &__count {
      margin-inline: 5px;
    }
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove {
  background-color: orange;
  font-weight: bold;
  padding: 0.5px 30px;
  cursor: pointer;
}

.clear {
  background-color: orange;
  font-weight: bold;
  padding: 0.5px 30px;
  cursor: pointer;
  margin-top: 10px;
}
