@import "./globals/";
@import "./components/";
@import "./pages/";

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
